<div class="container">
    <div class="artistSearch">
        <h1>Artist Search</h1>


        <input type="text" ng-model="searchTerm" class="searchInput">
        <br>
        <button ng-click="login()">Spotify Login</button>
        <button ng-click="search()">Search!</button>

        <div class="searchResults">
            <ul>
                <li ng-repeat="item in results">
                    <a ng-click="clickedArtist(item.genres)">{{item.name}}</a>
                    <a ng-href="{{item.external_urls.spotify}}" target="_blank"><img src="/open-iconic/svg/play-circle.svg"></a>
                </li>
            </ul>

        </div>
    </div>
    <!-- /artistSearch -->

    <h3>Beer: </h3>
    <div class="artistPairings">
        <h4><div ng-show="beer" class="ngShowBeer"> {{beer}} </div></h4>
        <button ng-click="clickedBeerStyle()" ng-show="beer">Get Beers!</button>
        <div class="artistPairingsBox">
            <div ng-repeat="item in beerArr track by $index" ng-if="item.style.name === beer" ng-click="clickedBeerName()">
                <img src="{{item.labels.icon}}"> - {{item.nameDisplay}}</div>
        </div> <!-- /artistPairingsBox -->
    </div>
    <!-- /pairings -->

</div>
<!-- /container -->