<div class="container">
    <div class="artistSearch">
        <h1>Artist Search</h1>
        <button ng-click="login()">Spotify Login</button>


        <input type="text" ng-model="searchTerm">
        <button ng-click="search()">Search!</button>

        <div class="searchResults">
            <ul>
                <li ng-repeat="item in results">
                    <a ng-click="clickedArtist(item.genres)">{{item.name}}</a>
                </li>
            </ul>

        </div>
    </div> <!-- /artistSearch -->

    <div class="pairings">
        <h3>Beer Style: </h3>
        <div ng-show="beer" class="ngShowBeer"> {{beer}} </div>
        <button ng-click="clickedBeerStyle()">Get Beers!</button>
        <div ng-repeat="item in beerArr" ng-if="item.style.name === beer">{{item.nameDisplay}}</div>
    </div> <!-- /pairings -->
    
</div> <!-- /container -->
