<div class="container">
    <div class="beerSearch">
        <h1>Beer Style Search</h1>

        <input type="text" ng-model="searchTerm">
        <button ng-click="getBeerStyles()">Search!</button>

        <div class="searchResults">
            <ul>
                <li ng-repeat="item in beerNames | filter: searchTerm">
                    <a ng-click="clickedBeer(item)" class="result-item">{{item}}</a>
                </li>
            </ul>

        </div>
    </div> <!-- /beerSearch -->

    <div class="pairings">
    <h3>Genre: </h3>
    <div ng-show="genre" class="ngShowGenre"> {{genre}} </div>
    </div> <!-- /pairings -->
    
</div> <!-- /container -->