<div class="container">
    <div class="beerSearch">
        <h1>Beer Style Search</h1>

        <input type="text" ng-model="searchTerm" class="searchInput">
        <br>
        <button ng-click="login()">Spotify Login</button>
        <button ng-click="getBeerStyles()">Search!</button>

        <div class="searchResults">
            <ul>
                <li ng-repeat="item in beerNames | filter: searchTerm">
                    <a ng-click="clickedBeer(item.name)" class="result-item">{{item.name}}</a>
                </li>
            </ul>

        </div>
    </div> <!-- /beerSearch -->

    <h3>Genre: </h3>
    <div class="pairings">
    <div ng-show="genre" class="ngShowGenre"> {{genre}} </div>

    </div> <!-- /pairings -->
    
</div> <!-- /container -->